<% include ./partials/header %>
<div class="row">
<div class="small-12 text-center columns">
  <h1>Confirm</h1>
</div>



<ul>
 
    <li><%= orderInvoice.code %></li>
     <li><%= orderInvoice.checkbox1 %></li>
    <li><%= orderInvoice.checkbox2 %></li>
    <li><%= orderInvoice.checkbox3 %></li>
     <li><%= orderInvoice.notes %></li>

 
    
    
</ul>

<% include ./partials/footer %>