<h1>CONFIRMED PAGE</h1>

<li><%= orderInvoice.code %></li>
<li><%= orderInvoice.checkbox1 %></li>
<li><%= orderInvoice.checkbox2 %></li>
<li><%= orderInvoice.checkbox3 %></li>
<li><%= orderInvoice.notes %></li>