<% include ./partials/header %>

<div class="row">
    <div id="mainTop" class="small-12 text-center columns">
      <h1>Edit Order</h1>
    </div>
</div>

<div class="row" id="mainContainer">
  
    <div id="imgContainer" class="small-7 columns">
      <h4>Endcard Sample <span id="baseCodeDIV"></span></h4>
      <div class="small-12 columns" style="background:<%= foundOrder.bgColor %>" id="bgColorDiv">

        
<!-----------------DYNAMIC CONTENT WILL GO HERE-------------------------------->
        <div class="small-12 columns" id="baseLogoDiv">
          <img src="<%= foundOrder.baseLogo%>">
        </div>
        <div class="small-12 columns" id="baseOfferDiv">
          <p><%= foundOrder.baseOffer%></p>
        </div>
        <div class="small-12 columns" id="baseDealerDiv">
          <p><%= foundOrder.baseDealer%></p>
        </div>
        <div class="small-12 columns" id="baseAddress1Div">
          <p><%= foundOrder.baseAddress1%></p>
        </div>
        <div class="small-12 columns" id="baseLocation1Div">
          <p><%= foundOrder.baseLocation1%></p>
        </div>
        <div class="small-12 columns" id="baseURLDiv">
          <p style="margin-top: 0px"><%= foundOrder.baseURL%></p>
        </div>
        
<!-----------------END DYNAMIC CONTENT ---------------------------------------->       
      </div>
    </div>
      <div class="small-5 columns" id="formContainer"><!--RIGHT SIDE FORM START-->
          <h4>Endcard CheckList</h4>
          <div class="small-12 text-center columns auto">

            <h4>Automotive</h4>
          </div>
          <!--ENDCARD FIELD-->
          <div class="small-5 columns">
              
 <!-- ***********FORM STARTS HERE******************************************* -->
            <form action="/orders/<%= foundOrder._id %>?_method=PUT" method="POST">
              <p class="labelhead">VW Endcard Template</p> 
          </div>
          <div class="small-7 columns">
              <input placeholder="please enter code: DW002" name="foundOrder[baseCode]" id="baseCode" data-div="baseCodeDIV" type="text" value="<%= foundOrder.baseCode %>">
          </div>
          <hr>
          <!--ENDCARD FIELD END-->
<!--*******************************************************************************       -->

<!--*******************************************************************************       -->          
          <!--TIMING FIELD-->
          <div class="small-5 columns">
              <p class="labelhead">Timing Configuration</p> 
          </div>
          
         <div class="small-2 columns">
           <fieldset>
              <legend class="labelhead">:24/:06</legend>
              <% if(foundOrder.timingbox1 != "false") { %>
                  <input value=":24/:06" id="timingbox1" name="foundOrder[timingbox1]" type="checkbox" data-div="timingbox1DIV" checked>
              <% } else { %>
                  <input value=":24/:06" id="timingbox1" name="foundOrder[timingbox1]" type="checkbox" data-div="timingbox1DIV">
              <% } %>
              
            </fieldset>
          </div>
          
           <div class="small-2 columns">
           <fieldset>
              <legend class="labelhead">:25/:05</legend>
              <% if(foundOrder.timingbox2 != "false") { %>
              <input value=":25/:05" id="timingbox2" name="foundOrder[timingbox2]" type="checkbox" data-div="timingbox2DIV" checked>
               <% } else { %>
               <input value=":25/:05" id="timingbox2" name="foundOrder[timingbox2]" type="checkbox" data-div="timingbox2DIV">
                <% } %>
            </fieldset>
          </div>
    
           <div class="small-3 columns">
              <fieldset>
              <legend class="labelhead">Custom</legend>
              <input name="foundOrder[cust_timing]" type="text" value="<%= foundOrder.cust_timing %>">
              </fieldset>
          </div>
          <hr>
          <!--TIMING FIELD END-->
<!--*******************************************************************************       -->

<!--*******************************************************************************       -->          
            <!--ENDCARD TAGGING-->
          <div class="small-12 text-center columns auto2">
            <h6>Base End Tagging (Select All Fields That Apply)</h6>
          </div>
            <div class="row">
              <div class="small-7 text-right columns">
                  <p style="margin-top:20px; margin-bottom:28px;" class="labelhead">Background Color</p>
                  <p style="margin-bottom:25px;"class="labelhead">Logo</p>
                  <p style="margin-bottom:25px;" class="labelhead">Offer</p>
                  <p style="margin-bottom:23px;" class="labelhead">Dealer Name</p>
                  <p style="margin-bottom:24px;" class="labelhead">Address</p>
                  <p style="margin-bottom:24px;" class="labelhead">Location</p>
                  <p class="labelhead">URL</p>
              </div>
              <fieldset class="large-5 columns">
                <legend class="labelhead"></legend>
                <input type="color" name="foundOrder[bgColor]" id="bgColor" value="<%= foundOrder.bgColor %>">
                <select id="baseLogo" name="foundOrder[baseLogo]" data-div="baseLogoDiv" value="<%= foundOrder.baseLogo %>">
                  <option value="https://res.cloudinary.com/djangoles/image/upload/v1462017844/ALPHA_iqhp2i.png">Select Logo</option>
                  <option value="https://res.cloudinary.com/djangoles/image/upload/v1461948463/volvo_fyixgc.png">Volvo</option>
                  <option value="https://res.cloudinary.com/djangoles/image/upload/v1462015964/saab_xsp4lz.png">Saab</option>
                  <option value="https://res.cloudinary.com/djangoles/image/upload/v1462018327/VW_ALPHA_zqbevy.png">Volkswagon</option>
                </select>
                <input name="foundOrder[baseOffer]" id="baseOffer" type="text" value="<%= foundOrder.baseOffer %>">
                <input name="foundOrder[baseDealer]" id="baseDealer" type="text" value="<%= foundOrder.baseDealer %>">
                <input id="baseAddress1" name="foundOrder[baseAddress1]" data-div="baseAddress1Div" type="text" value="<%= foundOrder.baseAddress1 %>">
                <input id="baseLocation1" name="foundOrder[baseLocation1]" data-div="baseLocation1Div" type="text" value="<%= foundOrder.baseLocation1 %>">
                <input id="baseURL" name="foundOrder[baseURL]" data-div="baseURLDiv" type="text" value="<%= foundOrder.baseURL %>">
              </fieldset>
            </div>
              <!--ENDCARD TAGGING END-->
<!--*******************************************************************************       -->

<!--*******************************************************************************       --> 
             <hr>
             
           <label>
              Notes
              <textarea rows="7" class="labelhead" name="foundOrder[notes]"><%= foundOrder.notes %></textarea>
            </label>
              <button class="button">UPDATE</button>
          </form>  
          <a class="button success" href="/orders">BACK</a>
        </div> 
</div><!--row END-->
<br>
<br>
<br>
<br>
<script>

//------------------------------------------------------------------------------
//===================HELPER FUNCTIONS===========================================
//------------------------------------------------------------------------------


function _(inputField) {
  return document.getElementById(inputField);
}


//------------------------------------------------------------------------------
//===================INPUT FIELDS FUNCTIONS=====================================
//------------------------------------------------------------------------------

function toggleDiv(checkbox, divID) {
    // Grabbing ID OF DIV TO HIDE OR SHOW
    var divID = document.getElementById(divID);
    if (checkbox.checked) {
        divID.style.opacity = '1';
    } else {
        divID.style.opacity = '0';
    }
}

function fillDiv(inputbox, divID) {
    // Grabbing ID OF DIV TO Fill WITH TEXT
    var divID = document.getElementById(divID);
    divID.style.display = "block";
    divID.innerHTML = inputbox.value;
}

function fillLogoDiv(selectBox, divID) {
    // GRABBING ID OF DIV TO FILL WITH IMAGE
    var divID = document.getElementById(divID);
    divID.style.display = "block";
    divID.innerHTML = "<img src="+"\""+selectBox.value + "\">" ;
}

function fillBgColor(colorpick, divID) {
    // GRABBING ID OF DIV TO FILL WITH BG COLOR
  var divID = document.getElementById(divID);
  divID.style.background = colorpick.value;
  console.log(colorpick.value);
}

//------------------------------------------------------------------------------
//========================CHANGE BACKGROUND COLOR===============================
//------------------------------------------------------------------------------

_('bgColor').onchange = function() {
    fillBgColor(this, 'bgColorDiv');
};


//------------------------------------------------------------------------------
//========================CHANGE LOGO IMAGE=====================================
//------------------------------------------------------------------------------

_('baseLogo').onchange = function() {
    fillLogoDiv(this, 'baseLogoDiv');
};

//------------------------------------------------------------------------------
//========================INPUT TEXT UPDATE DIV=================================
//------------------------------------------------------------------------------


_('baseOffer').onkeyup = function() {
    console.log(this.value);
    fillDiv(this, 'baseOfferDiv'); 
};

_('baseDealer').onkeyup = function() {
     console.log(this.value);
     fillDiv(this, 'baseDealerDiv'); 
};

_('baseAddress1').onkeyup = function() {
    console.log(this.value);
    fillDiv(this, 'baseAddress1Div'); 
};

_('baseLocation1').onkeyup = function() {
    console.log(this.value);
    fillDiv(this, 'baseLocation1Div'); 
};

_('baseURL').onkeyup = function() {
    console.log(this.value);
    fillDiv(this, 'baseURLDiv'); 
};

// _('baseCode').onkeyup = function() {
//     console.log(this.value);
//     fillDiv(this, 'baseCodeDIV'); 
// };


</script>

<% include ./partials/footer %>

 

 

