<% include ./partials/header %>
<div class="row">
<div id="confirmHeader" class="small-12 text-center columns">
  <h1>Submitted Order</h1>
</div>
<form action="/order/<%=orderInvoice._id %>/edit" method="GET">
<table>
  <thead>
    <tr>
      <th>Template</th>
      <th>:24/:06</th>
      <th>:25/:05</th>
      <th>Custom</th>
      <th>BG Color</th>
      <th>Logo</th>
      <th>Offer</th>
      <th>Dealer</th>
      <th>Address1</th>
      <th>Location</th>
      <th>URL</th>
      <th>Notes</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= orderInvoice.baseCode %></td>
      <td><%= orderInvoice.timingbox1 %></td>
      <td><%= orderInvoice.timingbox2 %></td>
      <td><%= orderInvoice.cust_timing %></td>
      <td><%= orderInvoice.bgColor %></td>
      <td><img src="<%= orderInvoice.baseLogo %>"></td>
      <td><%= orderInvoice.baseOffer %></td>
      <td><%= orderInvoice.baseDealer %></td>
      <td><%= orderInvoice.baseAddress1 %></td>
      <td><%= orderInvoice.baseLocation1 %></td>
      <td><%= orderInvoice.baseURL %></td>
      <td><%= orderInvoice.notes %></td>
      <td> <button class="button">EDIT</button></td>
    </tr>
  </tbody>
</table>


</form>


 <!--code: code,-->
 <!--       timingbox1: timingbox1,-->
 <!--       timingbox2: timingbox2,-->
 <!--       cust_timing: cust_timing,-->
 <!--       lower3rdnull: lower3rdnull,-->
 <!--       lower3rdPhone: lower3rdPhone,-->
 <!--       lower3rdURL: lower3rdURL,-->
 <!--       lower3rdLogo: lower3rdLogo,-->
 <!--       notes: notes-->
<% include ./partials/footer %>